<img src=images/gdd-logo.png width=300px align=right> 

# Filtering

In this notebook, we will cover how to filter data.

- [Filtering](#f)
   - [Using (lambda) functions to filter](#lambdas)
   - <mark>[Exercise: Filtering](#e-filter)</mark>
- [Multiple Conditions](#m)
    - <mark>[Exercise: Multiple Conditions](#e-mult)</mark>

In [1]:
import pandas as pd

chickweight = pd.read_csv('data/chickweight.csv').rename(str.lower, axis='columns')

<a id='f'></a>
## Filtering

It is possible to check whether the DataFrame/series meet certain conditions. 

For example, *which values in the chickweight DataFrame are less than 4?*

In [2]:
(
    chickweight < 4
).head()

   rownum  weight   time  chick  diet
0    True   False   True   True  True
1    True   False   True   True  True
2    True   False  False   True  True
3   False   False  False   True  True
4   False   False  False   True  True

Probably more useful would be to check one column at a time:

In [3]:
(
    chickweight['time'] < 4
)

0       True
1       True
2      False
3      False
4      False
       ...
573    False
574    False
575    False
576    False
577    False
Name: time, Length: 578, dtype: bool

This creates a boolean mask (a list of booleans). 

A second type of argument that the `.loc[]` method accepts is a boolean mask, so we can use it to filter our DataFrame.

In [4]:
(
    chickweight
    .loc[chickweight['time'] < 4]
)

     rownum  weight  time  chick  diet
0         1      42     0      1     1
1         2      51     2      1     1
12       13      40     0      2     1
13       14      49     2      2     1
24       25      43     0      3     1
..      ...     ...   ...    ...   ...
543     544      50     2     48     4
554     555      40     0     49     4
555     556      53     2     49     4
566     567      41     0     50     4
567     568      54     2     50     4

[100 rows x 5 columns]

### <mark> Practice: Filtering </mark>


Filter the data in the following ways:

1. For when weight is less than 60.

2. For chick number 15.

In [ ]:
# %load answers/02_Selections_and_Filtering/filter-practice.py

<a id = 'lambdas'></a>
## Using (lambda) functions to filter

The third type or argument that the `.loc[]` method accepts is a function that takes a DataFrame and returns a boolean mask. This function will get called on **whatever DataFrame arrives to the `.loc[]`**.

This allows you to add many filters without needing to reference the original name of the DataFrame:

In [ ]:
(
    chickweight  
    .loc[lambda df: df['chick'] == 1]
    .loc[lambda df: df['time'] < 4] 
)

What are the benefits of using lambda functions when filtering?

<details>
    <summary><font color=blue>Show answer</font></summary>
    
- Your code works independently of the name of the dataframe (easy to copy-paste!).
- You can filter on new columns that were created in the step before.
- You can re-order filters, they work with whatever DataFrame arrives to the filter, as long as the column needed exists.

**A note about lambda functions**: The lambda function may feel a little strange at this stage but, trust us, when you start to add more chains, the lambda function will really save the day!

For now it's important to be comfortable with the syntax, so let's practice!

<a id='e-filter'></a>
## <mark> Exercise: Filtering </mark>


Filter the data in the following (separate) ways:

1. For when weight is greater than 150.

2. For diet is equal to 4.

3. For when weight is less than 60 and time is equal to 2.

4. For when weight is less than 60 and time is equal to 2, but only the weight and time columns.

**BONUS**:

1. Calculate the mean (= average) Chicken weight.

2. Calculate the mean Chicken weight at time 10

**Answers**

In [ ]:
# %load answers/02_Selections_and_Filtering/filtering.py

<a id='m'></a>
## Multiple conditions


Let's have a look now at how to use multiple conditions within the same line. Aside from being more efficient to run, it is also useful as there is no need to worry about previous filters.

In [ ]:
(
    chickweight
    .loc[lambda df: (df['chick'] == 1) & (df['weight'] < 50)]
)

***Note the need for parentheses and the use of `&` rather than `and`?***

Firstly, the **parentheses** are needed due to the order of operations, `&` always performs before comparisons like `==`, `<`, `>=` etc.

**Now for `&` vs `and`...** the use of `and` can be used to test whether both expressions written are logically `True`. Eg:

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
False and False

But entire boolean mask isn't  `True` or `False`, it's a **list** of `True`/`False` values:

In [ ]:
chickweight['chick'] == 1

In [ ]:
# # error
# (
#     chickweight
#     .loc[lambda df: (df['chick'] == 1) and (df['weight'] < 50)]
# )

You can use `&`, the bitwise AND operation to compare each `True`/`False` in every row with multiple filters.

In [ ]:
(
    chickweight
    [["chick", "weight"]]
    .loc[lambda df: (df['chick'] == 1) & (df['weight'] < 50)]
)

**The `&` (ampersand) only equates to <span style=color:green>True</span> if BOTH conditions are met:**

![](images/02_Selections_and_Filtering/filt-and.png)

In [ ]:
(
    chickweight
    .loc[lambda df: (df['chick'] == 1) | (df['weight'] < 50)]
    .head(15)
)

**The `|` (pipe) equates to <span style=color:green>True</span> if AT LEAST ONE condition is met:**

![](images/02_Selections_and_Filtering/filt-or.png)

In [ ]:
(
    chickweight
    .loc[lambda df: (df['chick'] == 1) ^ (df['weight'] < 50)]
    .head(15)
)

**The `^` (hat) equates to <span style=color:green>True</span> if ONLY ONE condition is met:**

![](images/02_Selections_and_Filtering/filt-hat.png)

<a id='e-mult'></a>
## <mark> Exercise: Multiple conditions </mark>

Select only the part of chickweight where:

1. **weight** is above 50 but below 100.

2. **diet** is either 1 or 2.

3. For when weight is less than 60 and time is equal to 2, but only the weight and time columns!

**Answers**

In [ ]:
# %load answers/02_Selections_and_Filtering/multiple_conditions.py

### 🔍 Filtering Data in Pandas - Quick Summary

Filtering helps you **zoom in on the rows you care about**. Use `.loc[]` to select rows based on conditions.

- Use comparisons to filter:
  ```python
  my_data.loc[lambda df: df['column'] > 50]
  ```

- Combine multiple conditions with:
  - `&` for **AND**
  - `|` for **OR**
  - Wrap each condition in `()`
    
```python
my_data.loc[lambda df: (df['col1'] > 50) & (df['col2'] < 100)]
```


✅ Helps focus on the right data  
✅ Supports complex logic  
✅ Clean and readable with `lambda` + `.loc[]` combo

_Filtering is all about asking good questions and using code to get the right slice of data!_